<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>
    <h2>TODO</h2>
    <section>

        <input type="text" placeholder="index">
        <input type="text" placeholder="add a task">
        <input type="button" value="add">

    </section>

<table style="width:100%">
  <tr>
    <td>1</td>
    <td>task1</td>
    <td>
        <input type="button" value="delete">
    </td>
    <td><input type="button" value="update"></td>
  </tr>
  <tr>
    <td>2</td>
    <td>task2</td>
    <td>
        <input type="button" value="delete">
    </td>
    <td><input type="button" value="update"></td>
  </tr>
</table>

</body>
</html>